h3 {
    text-align: center;
    padding-left: 15px;
    color: #004085;
}

#msg {
    text-align: center;
}

#msg2 {
    text-align: center;
    font-size: 1.25rem;
    ;
}

h5 {
    color: #004085;
    padding: 5px 14px;
    padding-left: 15px;
}

form {
    padding-left: 15px;
}


.container {
    padding-left: 0px !important;
    margin-left: 0px !important;
}
